#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman postgresql.service
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
# EnvironmentFile=%S/state/secrets/passwords.secret
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/postgresql.pid %t/postgresql.ctr-id
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStart=/usr/bin/podman run --conmon-pidfile %t/postgresql.pid \
    --cidfile %t/postgresql.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/matrix.pod-id --replace -d --name postgresql \
    --env-file=%S/state/environment \
    --volume postgres-data:/var/lib/postgresql/data:Z \
    --volume %S/state/restore/:/docker-entrypoint-initdb.d/:Z \
    --env POSTGRES_USER=postgres \
    --env POSTGRES_PASSWORD=Nethesis,1234 \
    --env POSTGRES_DB=matrix \
    --env POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    --env TZ=UTC \
    ${POSTGRES_IMAGE}
ExecStartPost=/usr/bin/bash -c "while ! podman  exec postgresql psql -U postgres -d matrix ;  do sleep 5 ; done"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/postgresql.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/postgresql.ctr-id
ExecReload=/usr/bin/podman kill -s HUP postgresql
SyslogIdentifier=%u
PIDFile=%t/postgresql.pid
Type=forking

[Install]
WantedBy=default.target
