issuer: https://${SYNAPSE_DOMAIN_NAME}/dex

frontend:
  dir: /srv/dex/web
  issuer: NethServer Matrix

storage:
  type: postgres
  config:
    host: 127.0.0.1
    port: ${POSTGRES_PORT}
    database: dex
    user: postgres
    password: ${POSTGRES_PASSWORD}
    ssl:
      mode: disable

web:
  http: 0.0.0.0:${DEX_PORT}

staticClients:
  - id: synapse
    redirectURIs:
      - 'https://${SYNAPSE_DOMAIN_NAME}/_synapse/client/oidc/callback'
    name: 'Synapse'
    secret: ${SYNAPSE_SECRET}

connectors:
  - type: ldap
    id: ${DEX_LDAP_ID}
    name: ${DEX_LDAP_NAME}
    config:
      host: ${DEX_LDAP_HOST}:${DEX_LDAP_PORT}
      insecureNoSSL: true
      bindDN: ${DEX_LDAP_BIND_DN}
      bindPW: ${DEX_LDAP_BIND_PASSWORD}
      usernamePrompt: Username
      userSearch:
        baseDN: ${DEX_LDAP_BASE_DN}
        filter: "${DEX_LDAP_USER_FILTER}"
        username: ${DEX_LDAP_USERNAME}
        idAttr: ${DEX_LDAP_ID_ATTR}
        emailAttr: ${DEX_LDAP_EMAIL_ATTR}
        nameAttr: ${DEX_LDAP_NAME_ATTR}
      groupSearch:
        baseDN: ${DEX_LDAP_BASE_DN}
        filter: "${DEX_LDAP_GROUP_FILTER}"
        userMatchers:
          - userAttr: DN
            groupAttr: member
        nameAttr: cn

oauth2:
  skipApprovalScreen: true
